{{#if userOwnsProfile}}
<div class="well">
  <h4>Friend Requests</h4>
  {{#if friendRequests.incoming.length}}
    <h5>You should reply to:</h5>
    <ul>
    {{#friendRequests.incoming}}
      <li>
        <button type="button" class="btn btn-default btn-sm js-seguir-accept-friend-request" data-friend-request="{{friend_request}}">
          <span class="fa fa-heart" aria-hidden="true"></span> Accept
        </button> {{user.username}} {{humanize since}}<br/><small>{{message}}</small>

      </li>
    {{/friendRequests.incoming}}
    </ul>
  {{else}}
    <p>No friend requests for you to accept.</p>
  {{/if}}
  {{#if friendRequests.outgoing.length}}
    <h5>You are waiting on:</h5>
    <ul>
    {{#friendRequests.outgoing}}
      <li>
        {{user_friend.username}} {{humanize since}}<br/><small>{{message}}</small>
      </li>
    {{/friendRequests.outgoing}}
    </ul>
  {{else}}
  <p>You aren't waiting on anyone to accept yours.</p>
  {{/if}}
</div>
{{/if}}
