<h3><span class="fa fa-user"></span> {{profile.displayname}}</h3>
<p>
  <strong>seguir</strong>: {{profile.seguirId}}
</p>
<p>
{{#if userOwnsProfile}}
  <button type="button" class="btn btn-default btn-sm editprofile">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Edit Profile
  </button>
{{else}}
  {{#if relationship.youFollow}}
  <button type="button" class="btn btn-default btn-sm js-seguir-unfollow" data-user="{{profile.seguirId}}">
    <span class="fa fa-user-times" aria-hidden="true"></span> Un-Follow
  </button>
  {{else}}
  <button type="button" class="btn btn-default btn-sm js-seguir-follow" data-user="{{profile.seguirId}}">
    <span class="fa fa-user-plus" aria-hidden="true"></span> Follow
  </button>
  {{/if}}
  {{#if relationship.isFriend}}
  <button type="button" class="btn btn-default btn-sm js-seguir-unfriend" data-user="{{profile.seguirId}}">
    <span class="fa fa-heart-o" aria-hidden="true"></span> Un-Friend
  </button>
  {{else}}
    {{#if relationship.isFriendRequestPending}}
      <!-- Pending Request -->
    <button type="button" class="btn btn-default btn-sm js-seguir-unfriend">
      <span class="fa fa-heart-o" aria-hidden="true"></span> Delete Friend Request
    </button>
    {{else}}
    <button type="button" class="btn btn-default btn-sm js-seguir-friend" data-user="{{profile.seguirId}}" data-toggle="modal" data-target="#js-seguir-friendModal">
      <span class="fa fa-heart" aria-hidden="true"></span> Friend
    </button>
    {{/if}}
  {{/if}}
  {{#if relationship.theyFollow}}
    <p>This user is following you.</p>
  {{/if}}
{{/if}}
</p>
